/* .clockPic {
    margin: 0 auto;
    width: 261px;
  } */
.section-clock {
  width: 300px;
  height: 300px;
  /*  margin: 0 auto; */ }

.secondStop {
  top: -131px;
  left: -131px;
  position: relative;
  width: 1.1px; }

.minutStop {
  top: -130px;
  left: -133px;
  position: relative;
  width: 2px; }

.hourPaus {
  top: -130px;
  left: -133px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: cloc 3600s linear infinite;
  animation-name: cloc;
  transition-property: all;
  width: 2px;
  animation-play-state: paused; }

.secondPaus {
  top: -131px;
  left: -131px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: cloc 60s linear infinite;
  animation-name: cloc;
  transition-property: all;
  width: 1.1px;
  animation-play-state: paused; }

.hourPin {
  top: -130px;
  left: -133px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: cloc 3600s linear infinite;
  animation-name: cloc;
  transition-property: all;
  width: 2px; }

.secondPin {
  top: -131px;
  left: -131px;
  position: relative;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: cloc 60s linear infinite;
  animation-name: cloc;
  transition-property: all;
  width: 1.1px; }

@keyframes cloc {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
