div {
    display: flex;
    flex-direction: column;
    gap: 5em;

    .setTime {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        .hours,
        .minuts,
        .seconds {
            display: flex;
            gap: 5em;
        }
    }

    .btn {
        display: flex;
        justify-content: space-around;

        button {
            padding: 10px;
            border-radius: 36px;
            font-size: 1.3rem;
            font-weight: 600;

        }
    }
}