.alarm-section {
    background-color: black;
    background-image: url("../img/AlarmBg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 1000;
    text-align: center;
    width: 100vw;
    height: 100vh;

    .alarmPic {
        position: relative;
        height: 6rem;
        top: 40%
    }

    .timesUp {
        position: relative;
        margin-top: 50px;
        top: 40%;
        color: white;
    }

    button {
        position: relative;
        margin-top: 390px;
        /* bottom: 20%; */
        /* left: 30%; */
        height: 40px;
        width: 144px;
        font-weight: 900;
        border-radius: 30px;
    }
}